html,
body,
ul,
li,
a {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background: deepskyblue;
    list-style: none;
}


li:last-child {
    border: none;
}

a {
    padding: 20px 0;
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);   
}

a:hover {
    background: royalblue;
}