html,
body,
header,
article,
aside,
footer {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    /* margin: 0 auto; */
}

header,
article,
aside,
footer {
    width: 100%;
    /* min-height: 50px; */
}