/* HEADER */

header {
    /* arrange content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* format*/
    width: 80vw;
    max-width: 1000px;
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;
    margin: 0 auto;
    height: 8rem;
    /* border: 1px solid red; */
}

h1 {
    font-size: 2.3rem;
    color: #484848;
    margin-bottom: 0.4rem;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

header nav a {
    display: none;
}

/* MAIN IMAGE */

#main-image {
    /* laoyut */
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* formatting */
    background-image: url("../images/fam_blur_under_600_web_medium.jpg");
    /* background-clip: unset; */
    /* background-origin: 30%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background: url("../images/fam_blur.jpg") center 30% no-repeat; */
    /* border: 1px solid red; */
}

#main-image figcaption {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    /* border: 1px solid red; */
}

#main-image figcaption h2 {
    font-family: 'Alice', serif;
    font-size: 4rem;
    font-weight: 600;
    color: whitesmoke;
    margin-bottom: 4rem;
    /* border: 1px solid red; */
}

#main-image figcaption h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: whitesmoke;
    max-width: 30rem;
    line-height: 2rem;
    /* border: 1px solid red; */
}

/* ARTICLES */

section {
    width: 80vw;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    max-width: 1000px;
    /* border: 1px solid hotpink; */
}

article {
    color: #484848;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 1px solid hotpink; */
}

article h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: underline;
    /* text-align: left; */
    /* margin-bottom: 1.5rem; */
    /* border: 1px solid hotpink; */
}

article h2 {
    letter-spacing: 1px;
    font-size: 1.8rem;
    margin-top: 0.6rem;
    /* border: 1px solid hotpink; */
}

article p,
article ol {
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 1rem;
    margin-top: 0.3rem;
}

cite {
    font-size: 0.8rem;
}

cite a:hover {
    color: #00f;
    text-decoration: underline;
}

/* TABLE */

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
}

th {
    background-color: silver;
}

th,
td {
    border: 1px solid rgb(165, 164, 164);
    text-align: left;
    padding: 0.5rem;
}

td:first-child {
    font-weight: bold;
}

td:last-child {
    font-weight: normal;
}

tr:nth-child(odd) {
    background-color: #d0d0d0;
}

/* ASIDE */

aside {
    /* flex-item */
    align-self: center;
    /* flex-container */
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    /* border: 1px solid hotpink; */
}

aside ol {
    list-style: decimal;
    /* order matters! */
    list-style-position: inside;
}

aside li {
    line-height: 1.6rem;
}

aside img {
    display: none;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
}

footer div {
    text-align: center;
    line-height: 1.5rem;
}

footer a {
    text-align: center;
    color: blue;
}

/* GENERAL CLASSES */

.apply-button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    /* formatting */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0.6rem 0.4rem;
    color: whitesmoke;
    background-color: red;
}

.center-button {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.divider span {
    height: 1px;
    width: 70vw;
    background-color: #d0d0d0;
}

.bold {
    font-weight: bold;
}

.right-align {
    align-self: flex-end;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

.book-info h2 {
    margin-top: 1rem;
    font-size: 2rem;
}

.phone {
    margin: 1rem 0;
    color: red;
    font-size: 2.5rem;
}

.phone:hover {
    color: blue;
}