body {}

#atf {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5rem;
    /* border: 1px solid #BCD2DA; */
    border: 1px solid #D7DBDD;
    border-radius: 100%;
    /* effect layering */
    box-shadow: 0 2px 1px rgba(0, 0, 0, .05), 0 2px 3px rgba(0, 0, 0, .05), 0 4px 8px rgba(0, 0, 0, .05);
}

.icon-dial {
    color: #BCD2DA;
    font-size: 8rem;
    margin-bottom: .5rem;
}